@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Jost:wght@400;500;600;700&family=Montserrat:wght@200;500;800&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: Poppins;
}

::placeholder {
    padding: 14px;
}

.tujuan::placeholder{
    padding-left: 35px;
}

.card {
    box-shadow: -2px 7px 16px 0px rgba(153, 153, 153, 0.10);
}

.detail {
    right: 0px;
    bottom: 16px;
}

.icon {
    bottom: 30px;
    left: 12px;
}

.kota {
    top: 15px;
    left: 12px;
}

.lacak {
    top: 550px;
}